.solution{
    background-color: #fff;
    background-image :url($url + 'bg_msec03.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.four_solution{
   display: grid;
   width: 70%;
   margin: 0 0 0 auto;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 140px;
   grid-gap: 50px;
   padding-top: 60px;
 
   
   
   .solution{
       font-size: 2.2rem;
       font-weight: 700;

       &:after{
           content: "";
           display: block;
           background-color: #222;
           width: 100%;
           height:3px;
           margin: 0.45em 0 10px 0;
       }
   }
   p{
       line-height: 1.73;
       letter-spacing: -1;
   }
}


@media all and ( max-width:970px) {
  .four_solution{
      width: auto;
  }
}