@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+KR:wght@400;500;700&display=swap');
// variables
$primaryColor : #e60012;
$textColor: #222;
$url: '../images/';

@import 'reset', 'mixin';
html { 
    font-size:10px;
}
// init
body {  
    color: $textColor;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.2;
    // background-image: url($url + 'mainBG_01.jpg');
}


/*.ic {
    height:50px;
    width:50px;
    outline:1px solid red;
    background:#fff url($url + 'ic_list_01.png') -40px 0/auto 50px ;
}*/


@import 'header';


// home - section 1 - logo_page


#test {
    color:#fff;
    position:fixed;
    left:50%;
    top:50%;
    font-size:30px; 
   
/*
    1em = 100% -> parent font-size
    1rem = 100% -> root font-size
    1vw = 0.01%
    100vw = 100% -> device width
*/
   
}

.logo_page {
    background:url($url + 'mainBG_01.jpg') no-repeat center center/cover;

        display: flex;
        align-items: center;

        h2{
        color: #fff;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 50px;
    }

    p {
        color: #fff;
        font-family: inherit;
    }
}
 
.SNS_list {
  display: flex;
  position: absolute;
  bottom: 30px;left: 30px; 
  li { 
      margin-right: 40px;
  } 
  img { 
     height:18px; 
  }
}


@media all and (max-width:970px) {
  .pc {
      display:none;
  }
}
.SNS_list {
    display: flex;
    position: absolute;
    bottom: 72px;left: 30px; 

    li:nth-child(2) img{
        height: 18px;
    }

    img { 
        height:13px; 
    }
  }

 
@import 'content','channel','test','footer';

@import  'solution','client','chart','people';